@charset "utf-8";

/* @font-face {
    font-family: 'Jua';
    src: url('./fonts/Jua-Regular.ttf');
}

@font-face {
    font-family: 'Satisfy';
    src: url('./fonts/Satisfy-Regular.ttf');
} */


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    color: #666;
    font-family: 'Jua', sans-serif;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

/* HEADER */

.header {
    position: fixed;
    transition: top 0.5s;
    display: table;
    width: 100%;
    height: 10vh;
    background: #f07677;
    z-index: 3;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, .2);
    margin: 0 auto;
}

.headerLogo {
    display: table-cell;
    vertical-align: middle;
}

.logo {
    text-align: left;
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 0 0 5vw;   
}

.logo:hover {
    cursor:pointer;
}

.scrollHeader {
    transition: top 1s;
}

/*
    MAIN IMAGE
*/

.mainContainer {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 0 auto;
    background-position: center;
    align-content: center;
}

.bgImage {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
}

/* NOTICE */

.noticeContainer {
    padding: 1rem 0 1rem 0;
    text-align: center;
    background-color: #FFFFFF;
}

.noticeWho {
    width: 100%;
    display: table;
}

.male, .female {
    color: #000000;
    font-size: 20px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.male {
    text-align: right;
    padding-right: 10px;
    width: 45%;
}

.female {
    text-align: left;
    padding-left: 10px;
    width: 45%;
}

.heartContainer {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.heart {
    background-color: #f07677;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    margin: auto;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #f07677;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}

.vertical {
    height: 1rem;
    border-left: 2px solid #DCDCDC;
    position: absolute;
    left: 50%;
    margin: 0.5rem 0 0.5rem -1px;
}

.noticeDetail {
    margin-top: 2rem;
}

/* GREETING */

.greetingContainer {
    background: #f1f1f1;
	color: #666;
    text-align : center;
    margin: 0 auto;
    padding: 1.5rem 0;
    width: 100%;
}

.greetingInner {
    width: 80%;
    max-width: 640px;
    background: #f07677;
    margin: 0 auto;
    color: #FFFFFF;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dDay {
    padding: 1rem 0 0.5rem 0;
}

.greetingMessage {
    margin: 0 0 0.5rem 0;
}

.greetingText {
    background: #FFFFFF;
    color: #666;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 0.9rem;
    max-width: 640px;
    line-height: 200%;
}

/* 
    SLIDESHOW
*/

.slideshow {
    background-color: #FFFFFF;
}

.slideshowContainer {
    margin: 3vh auto 0 auto;
}

.slideHeader {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-weight: 600;
    color: #f07677;
}

.slideBody {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

.slide {
    display: none;
    margin: 0 auto;
    pointer-events: none;
    user-select: none;
}

.slide > img { 
    display: block;
    height: 65vw;
    max-height: 427px;
    width: auto;
    max-width: 640px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    max-width: 640px;
    padding: 16px 16px 16px 8px;
    margin: -22px auto 0 auto;
    color: #666;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 1s;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    padding: 16px 8px 16px 16px;
}
  
.prev:active, .next:active {
    background-color: rgba(0, 0, 0, 0.8);
}

/* SLIDE DOTS */
.dotContainer {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 10px 2px;
    background-color: #f07677;
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #f07677;
    opacity: 1;
}
  
/* slide fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* 
    GALLERY
*/

.gallery {
    background-color: #FFFFFF;
    padding: 0 0 2vh 0;
}

.galleryHeader, .galleryBody > h1 {
    padding-top: 2vh;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-weight: 600;
    color: #f07677;
}

.galleryBody > img {
    display: block;
    width: 90%;
    max-width: 640px;
    height: auto;
    margin: 3vh auto;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*
    MAP
*/

.map {
    background-color: #FFFFFF;
}

.mapContainer {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

.hallMap {
    display: block;
    width: 100%;
    max-width: 640px;
    height: auto;
}

.mapDummy {
    z-index: 2;
    position: absolute;
    top: 3%;
    width: 30%;
    max-width: 40vw;
    height: 4vw;
    right: 2%;
    background-color: #342B22;
}

.mapLink {
    z-index: 2;
    position: absolute;
    top: 7%;
    width: 14%;
    max-width: 64px;
    left: 4%;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.mapLink > a {
    display: block;
    color: #666;
}

.naverMap {
    margin: 0;
    width: 100%
}

.naverMapText {
    font-size: 0.85em;
    text-align: center;
    vertical-align: top;
    width: 100%;
    z-index: 3;
    position: relative;
    background-color: #FFFFFF;
    margin: -14px 0 0 0;
}

.mapInfo {
    background-color: #342B22;
    color: #FFFFFF;
    padding: 2vh 3vw;
    font-size: 0.8em;
}

.mapInfo > ul {
    padding-left: 3vw;
}

.fas, .far {
    font-size: 14px;
    color:#FFFFFF;
    display: inline-block;
}

/* FOOTER */

.footer {
    background-color: #f07677;
    width: 100%;
}

.footerContainer {
    padding: 3vh 3vw;
    max-width: 640px;
    margin: 0 auto;
}

.footerWhoBody,
.footerWhenBody,
.footerWhereBody {
    font-size: 14px;
    color:#FFFFFF;
    display: inline-block;
}

.footerThanks p{
    border-top: 1px solid #FFFFFF;
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

/* TOP BUTTON */

.topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 3;
    border: none; 
    outline: none; 
    background-color: #f07677;
    color: #FFFFFF;
    cursor: pointer; 
    padding: 12px; 
    border-radius: 12px;
    font-size: 10px;
    opacity: 0.5;
}

.topBtnBlock {
    display: block;  
}

/*
    MODAL IMAGES
*/


/* Style the Image Used to Trigger the Modal */
.galleryImg {
    border-radius: 5px;
    /* cursor: pointer;
    transition: 0.3s; */
}  

/* .galleryImg:hover {
    opacity: 0.8;
} */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 96%;
    max-width: 640px;
}


/* Add Animation - Zoom in the Modal */
.modal-content { 
    animation-name: zoom;
    animation-duration: 0.4s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 640px){
    .modal-content {
        width: 100%;
    }
}